<div class="page_title round_6">
  <h1>Contact Us!</h1>
</div>
<div id="content" class="left">
  <div id="mailer" class="col_312 alpha">
    <div class="address">
      <h5>Address</h5>
      <p itemscope itemtype="http://schema.org/LocalBusiness">
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                
        <span itemprop="streetAddress">58 Sand Hill Road</span><br/>
                
        <span itemprop="addressLocality">Vernon</span>, 
        <span itemprop="addressRegion">NJ</span> 
        <span itemprop="postalCode">07462</span></span><br/>
                P: 
        <span itemprop="telephone">(973) 823-0804</span>
      </p>
    </div>
    <p>Please drop us a line at <a href="mailto:fogschool@gmail.com">fogschool@gmail.com</a> any time!</p>
  </div>
  <div class="col_312 omega">
    <iframe width="312" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211586303403599826074.0004c86c27ef58afd15ba&amp;ie=UTF8&amp;t=m&amp;ll=41.20294,-74.507217&amp;spn=0.038746,0.053387&amp;z=13&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=211586303403599826074.0004c86c27ef58afd15ba&amp;ie=UTF8&amp;t=m&amp;ll=41.20294,-74.507217&amp;spn=0.038746,0.053387&amp;z=13&amp;source=embed" style="color:#0000FF;text-align:left">58 Sand Hill Rd</a> in a larger map</small>
    
  </div>
</div>
<%= render "layouts/sidebar" %>

