<!-- slide start -->
<div id="slide-container"  class="clearfix">
	<div id="slider-wrapper" class="left">
		<div id="slider" class="nivoSlider"> <a href="http://themeforest.net?ref=population2" target="_blank"><img src="assets/stock/slide-image-1.jpg" alt="image 1" /></a> <a href="http://graphicriver.net?ref=population2" target="_blank"><img src="assets/stock/slide-image-2.jpg" alt="" title="This is slide image 2" /></a> <a href="http://codecanyon.net?ref=population2" target="_blank"><img src="assets/stock/slide-image-3.jpg" alt="" /></a> <img src="assets/stock/slide-image-4.jpg" alt="" title="#htmlcaption" /> </div>
		<div id="htmlcaption" class="nivo-html-caption"> Caption with <a href="#">a link</a>. </div>
	</div>
	<div id="quickmenu" class="left">
		<h2 class="replace">Our Programs</h2>
		<div class="viewport">
			<ul class="overview">
				<li><a href="#" class="menu-box round_4"> <span class="title">Infant</span><br/>
					Duis lobortis fermentum erat<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Toddler</span><br/>
					Vivamus viverra arcu pretium<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Early Preschool</span><br/>
					Praesent fringilla rutrum augue<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Preschool</span><br/>
					Vivamus faucibus erat ut lectus<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Pre Kindergarten</span><br/>
					Nunc scelerisque elit a lacus<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Kindergarten</span><br/>
					Phasellus faucibus tempor<span class="arrow"></span> </a></li>
				<li><a href="#" class="menu-box round_4"> <span class="title">Summer Camp</span><br/>
					Suspendisse risus velit<span class="arrow"></span> </a></li>
			</ul>
		</div>
		<a class="buttons prev" href="#">Prev</a> <a class="buttons next" href="#">Next</a> </div>
</div>
<!-- slide end --> 
<!-- Main begin-->
<div id="main" class="round_8 clearfix">
	<div id="home-content" class="left">
		<h2 class="replace">Our Commitment</h2>
		<div class="intro">
			<p>An active learning community is a dynamic entity that evolves
      and changes over time, just like our natural ecosystems.
      It calls all participants to be active and involved.
      In order to remain a viable life force, we must always keenly
      assess the surrounding environment and be able to adapt to
      life's constant, which is change.
      By embracing change instead of fighting it, we flow more
      easily with the river that leads us into the future, which we
      maintain will be a hopeful one.
      By changing consciousness into conscience, we know that our 
      world will become a better place.
      Positive thought breeds positive action...</p>
		</div>
		<hr />
		<div class="col_201 alpha">
			<h3 class="replace">Our Approach</h3>
			<div class="thumbnail_60_left" style="background: url("assets/stock/60x60_thumbnail_5.jpg") repeat;"></div>
			<p class="landing_col">Nunc quis arcu. Donec ante. Gangsta placerizzle maurizzle stuff lectus. Fo pot eleifend leo malesuada fames ac turpis. </p>
			<a href="#" class="fancy small">Learn More <img class="arrow" src="assets/nav-right-arrow.png"/></a><br/>
		</div>
		<div class="col_201">
			<h3 class="replace">Active Learning</h3>
			<div class="thumbnail_60_left" style="background: url("assets/stock/60x60_thumbnail_4.jpg") repeat;"></div>
			<p class="landing_col">Nunc quis arcu. Donec ante. Gangsta placerizzle malesuada fames ac turpis egestas maurizzle stuff lectus. Fo shizzle pot ac turpis. </p>
			<a href="#" class="fancy small">Learn More <img class="arrow" src="assets/nav-right-arrow.png"/></a><br/>
		</div>
		<div class="col_201 omega">
			<h3 class="replace">Our School</h3>
			<div class="thumbnail_60_left" style="background: url("assets/stock/60x60_thumbnail_6.jpg") repeat;"></div>
			<p class="landing_col">Nunc quis arcu. Donec ante. Gangsta placerizzle stuff malesuada fames ac turpis egestas lectus. Fo shizzle pot tortor quam. </p>
			<a href="#" class="fancy small">Learn More <img class="arrow" src="assets/nav-right-arrow.png"/></a><br/>
		</div>
	</div>
	<div  id="sidebar-home" class="left">
		<div class="sidebar-widget">
			<div class="search">
				<form action="search.html" method="post">
					<div>
						<input name="text" type="text"  class="search-field" alt="Search" />
						<input name="submit" type="image" class="search-submit" value="search" src="assets/search.png" />
					</div>
				</form>
			</div>
		</div>
		<div class="sidebar-widget shadow-light"> <a href="#" class="promo-container"><img src="assets/stock/promo-245x162.jpg" alt="ad" /></a></div>
		<div class="sidebar-widget shadow-light">
			<div class="testimonials-container ">
				<h3 class="replace">What they say</h3>
				<p><a href="#">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac egestas.</a><br/>
					<small><em>John Doe</em></small></p>
			</div>
		</div>
	</div>
</div>
<!-- Main end -->