<div class="page_title round_6">
  <h1>
    Online Payments
  </h1>
</div>
<div id="content" class="left">
  <p>
    We accept:
  </p>
  <ul>
    <li>Visa
    </li>
    <li>Mastercard
    </li>
    <li>Discover
    </li>
    <li>Vericheck - electronic check processing
    </li>
  </ul>
  <h3>
    <strong>Paying your bill online allows you to:</strong>
  </h3>
  <ul>
    <li>
      <strong>Pay your bill securely</strong>
    </li>
    <li>
      <strong>Keeps your personal information private</strong>
    </li>
    <li>
      <strong>Receive a receipt via email immediately</strong>
    </li>
    <li>
      <strong>Saves time and money&nbsp;</strong>
    </li>
  </ul>
  <p>
    <a href="http://www.securitymetrics.com/site_certificate.adp?s=66%2e96%2e131%2e118&amp;i=767403" target="_blank"><img src="http://www.securitymetrics.com/images/sm_ccsafe_check2.gif" alt="SecurityMetrics for PCI Compliance, QSA, IDS, Penetration Testing, Forensics, and Vulnerability Assessment" border="0"></a> &nbsp;
  </p>
  <p>
   <%= link_to "Terms and conditions", "/terms", { :class => "blue small fancy" } %>  <%= link_to "Make a payment", "https://www.usaepay.com/interface/epayform/hjwT453p409QVUX1rdc9R0AIc9JT0idz/sale?&amp;UMamount=&amp;UMinvoice=123456&amp;UMdescription", { :class => "green large fancy"} %>
  </p>
  <p></p>
</div><%= render "layouts/sidebar" %>
