<h1>Listing teachers</h1>

<% @teachers.each do |teacher| %>
  <div class="teacher">
    <h3><%= teacher.name %></h3>
    <div>
      <%= teacher.bio %>
    </div>
    <% render 'admin' %>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
