body
  font-family: verdana, sans-serif
  font-size: 15px
  line-height: 1.5
  
#clouds  
  background: transparent url(/assets/fog-header.png) left top repeat-x

#content-wrapper  
  background: #f1fbff url(/assets/bg.png) center bottom repeat-x
  @include gradient(#1d91d0, lighten(#1d91d0, 35%), $start: 15%, $url: '/assets/bg.png', $position: 'bottom repeat-x')
  position: relative

.interior
  padding: 0 1em
#footer
  clear: both
  padding: 20px 0 8px
  .column
    @include grid(6)
    margin-right: 9px
  .contact
    @include grid(4)

#welcome
  width: 600px
  margin: 0 20px 0 10px
  float: left
#welcome-sidebar
  width: 280px
  margin: 0 10px

.clear-float
  clear: both

#main
  overflow: auto

.contact
  padding-bottom: 1em

ul.meta
  overflow: auto

.form-inputs, form
  textarea
    width: 600px

.quote-post
  padding-bottom: 1em
