// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teacher-detail
  .image
    float: left
    margin-right: 1em
    margin-bottom: 0.3em
    img
      max-width: 437px
      padding: 3px
      border: 1px solid #bbb
      background: #eee
      @include radius(3px)

.teachers-index
  overflow: auto
  .teacher
    em
      font-size: 10px
    margin-bottom: 2em
    &.alpha.col_312
      clear: left
    .image
      float: left
      img
        margin: 0 0.7em 0em 0
        padding: 3px
        background: #eee
        border: 1px solid #bbb
        @include radius(5px)
    .bio
      //text-align: justify
    &.alpha
      clear: left
