<ul class="sf-menu">
	<li> <a href="/about">About FOG</a>
		<ul>
			<li> <a href="/teachers">Teacher</a></li>
			<li> <a href="/blog">Blog</a></li>
			<li> <a href="/contact">Contact</a></li>
			<li> <a href="/testimonials">Testimonials</a></li>
		</ul>
	</li>
	<li><%= link_to "Contact", contact_page_path %></li>
</ul>