<ul class="sf-menu">
	<li><%= link_to image_tag('home.png'), root_path, :alt => "Fields of Green home page", :title => "Fields of Green Montessori" %></li>
  <li><a href="/about-our-school" alt="Prospective Students" title="Prospective Students">Prospective Students</a></li>
  <li><a href="/welcome-back" alt="Current Students" title="Current Students">Current Students</a></li>
	<li><%= link_to "Contact", contact_page_path, :alt => "Contact page", :title => "Contact Us!" %></li>
</ul>
