<ul class="sf-menu">
	<li><a href="/about-our-school">Prospective Students</a></li>
  <li><a href="/welcome-back">Current Students</a></li>
  <li><a href="/blogs"><span>Blog</span></a></li>
	<li><%= link_to "Contact", contact_page_path %></li>
</ul>
