<div  id="sidebar" class="left">
  <ul id="submenu" class="shadow-light">
    <li><a href="#"><span>Sub Page 1</span></a></li>
    <li><a href="#"><span>Sub Page 2</span></a></li>
    <li><a href="#"><span>Sub Page 3</span></a></li>
    <li><a href="#"><span>Sub Page 4</span></a></li>
  </ul>
  <div class="sidebar-widget">
    <div class="search">
      <form action="/search" method="post">
        <div>
          <input name="text" type="text"  class="search-field" alt="Search" />
          <input name="submit" type="image" class="search-submit" value="search" src="/assets/search.png" />
        </div>
      </form>
    </div>
  </div>
</div>
