<div id="sidebar" class="left">
<% unless @links.first.layout == "standard" %>
  <ul id="submenu" class="shadow-light">
    <% @links.each do |page| %>
    <li>
      <%= link_to content_tag(:span, page.title), page %>
    </li>
    <% end %>
    <% if @links.first.layout == "prospective-students" %>
      <li><%= link_to content_tag(:span, "Our Teachers"), teachers_path %></li>
      <li><%= link_to content_tag(:span, "Testimonials"), "/testimonials" %></li>
    <% end %>
  </ul>
<% end %>
  <div class="sidebar-widget shadow-light">
    <div class="minimal">
      <h4 class="replace">
        Latest from the blog
      </h4>
      <ul class="reg-item">
        <% @sidebar_blog.each do |post| %>
        <li>
          <%= link_to post.title, post %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
